.page{
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}
.logo-item{
    margin-top: 63px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 80px;
    text-align: center;
    color: #000;  
}
.logo{
    color: #4bcaff;

}
.nav-menu{
    background: #35444f;

}
.nav-bar{
    height: 69px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-list{
    display: flex;
    justify-content: center;
    text-decoration: none;
    & a {
        padding: 20px 35px;
        border-width: 0 1px 0 1px;
        border-style: solid;
        border-color: #fff;
        font-size: 24px;
        color: #fff;
    }
}
.nav-list :hover {
    background-color: #222f3a;
    
}
.container{
    display: flex;
}
.nav_left_menu{
    margin-top: 48px;
    margin-left: 2px;
    width: 344px ;
    height: 399px;
    border: 1px solid silver;
    
}
.left_menu{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    max-height: 105%;
    list-style-type: none;
}
.list-left{
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, font-weight 0.3s ease;
    width: 342px;
    height: 80px;
    padding: 35px;
    outline: 0px solid #000 ;
& .left {
     font-size: 27px;
    color: #485863;
}
}

.list-left :hover{
    color: #000;
    font-weight: bold;
    transform: translateX(10px);
   }
   .left_menu :hover{
    background-color:#dbdbdb;
}
.content{
    margin-left: 52px;
    width: 885px;
    display: flex;
    flex-direction: column;
}
.img-fon{
    margin: 48px 68.5px 37px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px; 
    border: 1px solid silver; 
    box-sizing: border-box; 
}
.image{
    width: 320px;
    height: 381px
}
.image:hover{
    transition: transform 2s ease;
    transform: scale(1.2); 
}
.text{
    font-size: 18px;
    color: #2c2c2c;
}
.down{
    height: 69px;
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 51px;
    margin-bottom: 60px;
}
.menu_down{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.list_menu_down{
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    padding-right: 30px;
    & .menu_down_line{
    color: #0c1927;
    }
}
.menu_down_line:hover {
    color: #3181a6;
    padding-bottom: 5px;
    border-bottom: 1px solid #3181a6;
}
.down_p{
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #010101;
    margin-left: auto;
    margin-right: 40px;
}